* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
@font-face {
  font-family: DM Sans;
  src: url("../fonts/DMSans-Bold.ttf");
}
@font-face {
  font-family: DM Sans;
  src: url("../fonts/DMSans-Regular.ttf");
}
body {
  background-color: #191919;
  width: 100%;
}
.container {
  max-width: 1340px;
  margin: 0px auto;
  padding: 0px 20px;
}
header {
  width: 1340px;
  height: 119px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 44px 52px;
  align-items: center;
}
header img {
  width: 159px;
  height: 32px;
}
.mix {
  cursor: pointer;
}
.list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.list li a:hover {
  background-color: #191919;
  color: #094b5a;
  transition: all 0.5s;
}
.list li a {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
}
.pages1 {
  position: relative;
  margin: 0 auto 93px;
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 40px 70px;
  height: 913px;
  justify-content: space-around;
}
.people {
  position: absolute;
  top: -8px;
  left: 24px;
}
.text1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
  color: #ffffff;
  margin-bottom: 90px;
  width: 530px;
  position: relative;
}
.text2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 16px;
}
.photo {
  position: absolute;
  top: 410px;
}
.steel1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #ffffff;
}

.pages2-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 63px;
}
.butt1:hover {
  background-color: #044655;
  color: #ffffff;
  transition: all 0.5s;
}
.butt3:hover {
  background-color: #03343f;
  color: #ffffff;
  transition: all 0.5s;
}
.butt2:hover {
  background-color: #0e811d;
  color: #ffffff;
  transition: all 0.5s;
}
.butt1 {
  cursor: pointer;
  background: #118da8;
  border-radius: 6px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  padding: 12px 15px 12px 20px;
  height: 50px;
  outline: none;
  border: none;
}
.butt2 {
  cursor: pointer;
  margin-top: 8px;
  padding: 0px 10px;
  background: #191919;
  border-radius: 6px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 48px;
}
.text4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #118da8;
  margin-bottom: 18px;
}
.steel4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 2.56px;
  color: #ffffff;
  width: 701px;
  height: 141px;
  margin-bottom: 28px;
}
.text5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 18px;
}
.butt3 {
  cursor: pointer;
  background: #118da8;
  border-radius: 6px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  border: none;
  padding: 12px 15px 12px 20px;
}
.cards {
  padding: 40px;
}
.card {
  padding: 40px;
  width: 1220px;
  height: 545px;
  background: #000000;
  border-radius: 32px;
  display: flex;
  gap: 53px;
  margin-bottom: 60px;
}
.pages3 {
  margin-bottom: 200px;
}

.pages3-0 {
  gap: 94px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.text8 {
  margin-top: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #118da8;
}
.steel8 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #ffffff;
  margin-bottom: 28px;
}
.text9 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 33px;
}
.text10 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
}
.man {
  width: 550px;
  height: 743px;
}
.strelka {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  cursor: pointer;
}
.pages4 {
  width: 1220px;
  height: 387px;
  background: #000000;
  border-radius: 32px;
}
.pages4-1 {
  display: flex;
  gap: 105px;
}
.text11 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #118da8;
}
.steel11 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #ffffff;
  width: 431px;
  height: 159px;
}
.pages4 {
  padding-left: 40px;
  margin-bottom: 200px;
  position: relative;
}
.pages4-1 {
  padding: 60px 40px;
}
.pages4-1 img {
  position: absolute;
  bottom: -30px;
  left: -35px;
}
.pages-input button:hover {
  background-color: #03343f;
  color: #ffffff;
  transition: all 0.5s;
}
.pages-input input {
  cursor: pointer;
  margin-bottom: 20px;
  background: #191919;
  border: 1px solid #191919;
  border-radius: 6px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  width: 522px;
  height: 88px;
  padding: 26px 19px;
  outline: none;
}
.pages-input input:hover {
  background-color: #05053a;
  color: #ffffff;
  transition: all 0.5s;
}
.pages-input button {
  cursor: pointer;
  background: #118da8;
  border-radius: 6px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 19px;
}
.pages5 {
  margin-bottom: 200px;
}
.pages5-2:hover {
  background-color: #03031d;
  color: #ffffff;
  transition: all 1s;
}
.pages5-2 {
  cursor: pointer;
  width: 392px;
  height: 321px;
  background: #000000;
  border-radius: 32px;
  padding: 54px 60px 51px 50px;
  margin: auto;
  padding: 40px;
}

.text12 {
  margin-top: 21px;
  width: 323px;
  height: 130px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  margin-bottom: 15px;
}
.text13 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}
.pages5-1 {
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}
.text14 {
  margin-top: 21px;
  width: 323px;
  height: 130px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}
.text15 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}
.text16 {
  margin-top: 21px;
  width: 323px;
  height: 130px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}
.text17 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}
.text18 {
  margin-top: 21px;
  width: 323px;
  height: 130px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}
.text19 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 39px;
}
.text20 {
  margin-top: 21px;
  width: 323px;
  height: 130px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}
.text21 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 39px;
}
.text22 {
  margin-top: 21px;
  width: 323px;
  height: 130px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  margin-bottom: 19px;
}
.text23 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 29px;
}
.pages6-1 {
  display: flex;
  padding-left: 50px;
}
.pages6-2 {
  margin-bottom: 30px;
}
.pages6-2 img {
  cursor: pointer;
}
.img {
  width: 100px;
}
.ul1 li {
  cursor: pointer;
  margin-bottom: 10px;
  list-style: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
}
.pages6-3 {
  margin-right: 100px;
}
.pages6-4 {
  margin-right: 100px;
}
.pages6-5 img {
  cursor: pointer;
}
